.end {
  flex-basis: 100%;
}

.masonryGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.masonryGridColumn {
  padding-left: 20px;
  background-clip: padding-box;
}

li {
  list-style-type: none;
}

.more {
  flex-basis: 100%;
  text-align: center;
}
